<!-- views/editBook.ejs -->
<%- include('partials/header') %>

<section class="form-section">
  <h2>Edit Book</h2>
  <form
    action="/books/<%= book.id %>?_method=PUT"
    method="POST"
    class="book-form"
  >
    <input
      type="text"
      name="title"
      placeholder="Title"
      value="<%= book.title %>"
      required
    />
    <input
      type="text"
      name="author"
      placeholder="Author"
      value="<%= book.author %>"
      required
    />
    <input
      type="text"
      name="isbn"
      placeholder="ISBN"
      value="<%= book.isbn %>"
      required
    />
    <input
      type="number"
      name="rating"
      min="1"
      max="5"
      placeholder="Rating (1-5)"
      value="<%= book.rating %>"
      required
    />
    <textarea name="notes" placeholder="Notes"><%= book.notes %></textarea>
    <input
      type="date"
      name="read_date"
      value="<%= book.read_date.toISOString().split('T')[0] %>"
    />
    <!-- Cover Preview -->
    <div class="cover-preview">
      <p>Cover Preview:</p>
      <img src="<%= await coverUrl(book.isbn, 'M') %>" alt="Cover Preview" />
    </div>
    <button type="submit">Update Book</button>
  </form>
</section>

<%- include('partials/footer') %>
